@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bruno+Ace&family=Macondo&family=Monoton&family=Nunito:wght@500;700;900&family=Roboto:wght@100&family=Rock+Salt&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
}

header{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%), url(images/homescreen.jpg) ;
    height: 100vh;
    /* width: 100vw; */
    background-size: cover;
    background-position: center;
}

header h1{
   font-family:'Rock Salt', cursive;     
}
nav{
    width: 90%;
    margin: 10px auto;
    text-align: right;
    font-size: 5%;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0px 10px;
    letter-spacing: 1px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: rgb(231, 163, 26);
}

#aboutus img{
      box-shadow: 10px 10px 50px 5px #f3a200;
}
#contactId{
    background: #020101;
            padding : 15px;
            box-shadow: 5px 5px 40px 2px #f3a200;
            border-radius : 4px;
}


#contactus iframe{
             
            box-shadow: 5px 5px 40px 2px rgb(243, 162, 0);
            border-radius : 4px;
}
